<section class="dw-chat-card">
  <div class="cell cell--chat">
        <h2 class="cell__title">{{title}}</h2>
        {{#if bonus}}<h3  style="display:inline;margin-left:10px;font-size: 1.3em"><strong>Bonus:</strong>{{bonus}}</h3>{{/if}}
        {{#if malus}}<h3  style="display:inline;margin-left:10px;font-size: 1.3em" ><strong>Malus:</strong>{{malus}}</h3>{{/if}}
        <h3  style="display:inline;margin-left:10px;font-size: 1.3em"><strong>Multi:</strong>{{multi}}</h3>
        <h3  style="display:inline;margin-left:10px;font-size: 1.3em"><strong>seuil:</strong>{{pourcent}}</h3>
  </div>
  <div class="cell cell--chat">
    <h3 class="cell__title  {{color}}" style="background-color: {{color}}; color: #ffffff">{{result}}</h3>
  </div>
</section>