<form>
    <p><strong>{{title}}</strong></p>
    <input type="button" onclick="depot()"><i class="far fa-money-bill-alt"></i>Dépot </input>
    <button onclick="retrait()" class="inline-roll roll money"><i class="far fa-money-bill-alt"></i>Retrait</button>
    <div class="form-group">
        <table>	
            <tr>
                <th colspan="7">Bourse perso</th> 													
            </tr>
            <tr>
                {{#each money as |k key|}}
                    <th style="text-align: center;border-right: 1px solid; border-top: 1px solid">{{ k.label }}</th>
                {{/each}}   																											
            </tr>		
            <tr>
                {{#each money as |k key|}}
                    <td style="text-align: center;border-right: 1px solid ">{{ k.purse }}</td>
                {{/each}}                                          
            </tr>
        </table>
        <table>	
            <tr>
                <th colspan="7">Banque</th> 													
            </tr>
            <tr>
                {{#each money as |k key|}}
                    <th style="text-align: center;border-right: 1px solid; border-top: 1px solid">{{ k.label }}</th>
                {{/each}}   																												
            </tr>		
            <tr>
                {{#each money as |k key|}}
                    <td style="text-align: center;border-right: 1px solid ">{{ k.bank }}</td>
                {{/each}}                                              
            </tr>
        </table>
        <input type="hidden" id="depot" value="" name="data.money" type="Text"/>
    </div>
</form>