<form>
    <p><strong>Compétence : {{title}} - Multiplicateur : {{ multiplicateur}} - Seuil : {{skillValue}} </strong></p>
    <div class="form-group">
        <div style="margin-right:5px;">
            <input type="hidden" style="display:block;" type="text" name="nbdices" value="1" placeholder="ex. 1" data-dtype="Number"/>
        </div>  
        <div style="margin-right:5px;">
            <label style="display:block;">Bonus</label>
            <input style="display:block;" type="text" name="bonus" value="0" placeholder="ex. 1" data-dtype="Number"/>
        </div>
        <div style="margin-right:5px;">
            <label style="display:block;">Malus</label>
            <input style="display:block;" type="text" name="malus" value="0" placeholder="ex. 1" data-dtype="Number"/>
        </div>
        <div style="margin-right:5px;">
            <label style="display:block;">Multiplicateur</label>
            <input style="display:block;" type="text" name="multi" value="1" placeholder="ex. 1" data-dtype="Number"/>
        </div>  
        <div style="margin-right:5px;">
            <input type="hidden" name="comp"  data-value="{{skillValue}}" data-label="{{title}}" data-dtype="Text"/>
        </div>

    </div>
</form>