<div class="col-md-12">
    <label><h2 style="text-align: center"><b> Réputation Mondiale :</b></h2></label>
    <div class="col-md-6">
        <label><h3><b> Criminel : {{ data.reput.mondiale.criminel }}</b></h3></label>					
        <input type="range" name="data.reput.mondiale.criminel" min="0" max="15" value="{{data.reput.mondiale.criminel}}">
    </div>
    <div class="col-md-6">
        <label><h3><b> Altruiste : {{ data.reput.mondiale.altruiste }}</b></h3></label>					
        <input type="range" name="data.reput.mondiale.altruiste" min="0" max="15" value="{{data.reput.mondiale.altruiste}}">
    </div>
    <div class="col-md-6">
        <label><h3><b> Tête brulée : {{ data.reput.mondiale.tete_brulee }}</b></h3></label>					
        <input type="range" name="data.reput.mondiale.tete_brulee" min="0" max="15" value="{{data.reput.mondiale.tete_brulee}}">
    </div>
    <div class="col-md-6">
        <label><h3><b>Sage : {{ data.reput.mondiale.sage }}</b></h3></label>					
        <input type="range" name="data.reput.mondiale.sage" min="0" max="15" value="{{data.reput.mondiale.sage}}">
    </div>
</div>
<div class="col-md-12">
    <label><h2 style="text-align: center"><b> Réputation Royaume Augustin :</b></h2></label>
    <div class="col-md-12">
        <label style="display: inline-block;">
            <h3><b> Criminel : {{ data.reput.royaume_augustin.criminel }}</b></h3>
        </label>
        <label style="display: inline-block;float: right;">
            <h3 style="text-align: right"><b> Altruiste : {{ data.reput.royaume_augustin.altruiste }}</b></h3>
        </label>				
        <input type="range" name="data.reput.royaume_augustin.criminaltruiste" min="-15" max="15" value="{{data.reput.royaume_augustin.criminaltruiste}}">
    </div>
    <div class="col-md-12">
        <label style="display: inline-block;">
            <h3><b> Criminel : {{ data.reput.royaume_augustin.criminel }}</b></h3>
        </label>
        <label style="display: inline-block;float: right;">
            <h3 style="text-align: right"><b> Altruiste : {{ data.reput.royaume_augustin.altruiste }}</b></h3>
        </label>
        <input type="range" name="data.reput.royaume_augustin.tetesage" min="-15" max="15" value="{{data.reput.royaume_augustin.tetesage}}">
        <input type="hidden" name="data.reput.royaume_augustin.criminel" value="{{data.reput.royaume_augustin.criminaltruiste}}">
    </div>
</div>
<div class="col-md-12">
    <label><h2 style="text-align: center"><b> Réputation République Naine :</b></h2></label>
    <div class="col-md-6">
        <label><h3><b> Criminel : {{ data.reput.republique_naine.criminel }}</b></h3></label>					
        <input type="range" name="data.reput.republique_naine.criminel" min="0" max="15" value="{{data.reput.republique_naine.criminel}}">
    </div>
    <div class="col-md-6">
        <label><h3><b> Altruiste : {{ data.reput.republique_naine.altruiste }}</b></h3></label>					
        <input type="range" name="data.reput.republique_naine.altruiste" min="0" max="15" value="{{data.reput.republique_naine.altruiste}}">
    </div>
    <div class="col-md-6">
        <label><h3><b> Tête brulée : {{ data.reput.republique_naine.tete_brulee }}</b></h3></label>					
        <input type="range" name="data.reput.republique_naine.tete_brulee" min="0" max="15" value="{{data.reput.republique_naine.tete_brulee}}">
    </div>
    <div class="col-md-6">
        <label><h3><b>Sage : {{ data.reput.republique_naine.sage }}</b></h3></label>					
        <input type="range" name="data.reput.republique_naine.sage" min="0" max="15" value="{{data.reput.republique_naine.sage}}">
    </div>
</div>
<div class="col-md-12">
    <label><h2 style="text-align: center"><b> Réputation Terres Libres :</b></h2></label>
    <div class="col-md-6">
        <label><h3><b> Criminel : {{ data.reput.terres_libres.criminel }}</b></h3></label>					
        <input type="range" name="data.reput.terres_libres.criminel" min="0" max="15" value="{{data.reput.terres_libres.criminel}}">
    </div>
    <div class="col-md-6">
        <label><h3><b> Altruiste : {{ data.reput.terres_libres.altruiste }}</b></h3></label>					
        <input type="range" name="data.reput.terres_libres.altruiste" min="0" max="15" value="{{data.reput.terres_libres.altruiste}}">
    </div>
    <div class="col-md-6">
        <label><h3><b> Tête brulée : {{ data.reput.terres_libres.tete_brulee }}</b></h3></label>					
        <input type="range" name="data.reput.terres_libres.tete_brulee" min="0" max="15" value="{{data.reput.terres_libres.tete_brulee}}">
    </div>
    <div class="col-md-6">
        <label><h3><b>Sage : {{ data.reput.terres_libres.sage }}</b></h3></label>					
        <input type="range" name="data.reput.terres_libres.sage" min="0" max="15" value="{{data.reput.terres_libres.sage}}">
    </div>
</div>
<div class="col-md-12">
    <label><h2 style="text-align: center"><b> Réputation Terre du Khran :</b></h2></label>
    <div class="col-md-6">
        <label><h3><b> Criminel : {{ data.reput.terre_du_khran.criminel }}</b></h3></label>					
        <input type="range" name="data.reput.terre_du_khran.criminel" min="0" max="15" value="{{data.reput.terre_du_khran.criminel}}">
    </div>
    <div class="col-md-6">
        <label><h3><b> Altruiste : {{ data.reput.terre_du_khran.altruiste }}</b></h3></label>					
        <input type="range" name="data.reput.terre_du_khran.altruiste" min="0" max="15" value="{{data.reput.terre_du_khran.altruiste}}">
    </div>
    <div class="col-md-6">
        <label><h3><b> Tête brulée : {{ data.reput.terre_du_khran.tete_brulee }}</b></h3></label>					
        <input type="range" name="data.reput.terre_du_khran.tete_brulee" min="0" max="15" value="{{data.reput.terre_du_khran.tete_brulee}}">
    </div>
    <div class="col-md-6">
        <label><h3><b>Sage : {{ data.reput.terre_du_khran.sage }}</b></h3></label>					
        <input type="range" name="data.reput.terre_du_khran.sage" min="0" max="15" value="{{data.reput.terre_du_khran.sage}}">
    </div>
</div>
<div class="col-md-12">
    <label><h2 style="text-align: center"><b> Réputation Cena :</b></h2></label>
    <div class="col-md-6">
        <label><h3><b> Criminel : {{ data.reput.cena.criminel }}</b></h3></label>					
        <input type="range" name="data.reput.cena.criminel" min="0" max="15" value="{{data.reput.cena.criminel}}">
    </div>
    <div class="col-md-6">
        <label><h3><b> Altruiste : {{ data.reput.cena.altruiste }}</b></h3></label>					
        <input type="range" name="data.reput.cena.altruiste" min="0" max="15" value="{{data.reput.cena.altruiste}}">
    </div>
    <div class="col-md-6">
        <label><h3><b> Tête brulée : {{ data.reput.cena.tete_brulee }}</b></h3></label>					
        <input type="range" name="data.reput.cena.tete_brulee" min="0" max="15" value="{{data.reput.cena.tete_brulee}}">
    </div>
    <div class="col-md-6">
        <label><h3><b>Sage : {{ data.reput.cena.sage }}</b></h3></label>					
        <input type="range" name="data.reput.cena.sage" min="0" max="15" value="{{data.reput.cena.sage}}">
    </div>
</div>
<div class="col-md-12">
    <label><h2 style="text-align: center"><b> Réputation Empire Khalim :</b></h2></label>
    <div class="col-md-6">
        <label><h3><b> Criminel : {{ data.reput.empire_khalim.criminel }}</b></h3></label>					
        <input type="range" name="data.reput.empire_khalim.criminel" min="0" max="15" value="{{data.reput.empire_khalim.criminel}}">
    </div>
    <div class="col-md-6">
        <label><h3><b> Altruiste : {{ data.reput.empire_khalim.altruiste }}</b></h3></label>					
        <input type="range" name="data.reput.empire_khalim.altruiste" min="0" max="15" value="{{data.reput.empire_khalim.altruiste}}">
    </div>
    <div class="col-md-6">
        <label><h3><b> Tête brulée : {{ data.reput.empire_khalim.tete_brulee }}</b></h3></label>					
        <input type="range" name="data.reput.empire_khalim.tete_brulee" min="0" max="15" value="{{data.reput.empire_khalim.tete_brulee}}">
    </div>
    <div class="col-md-6">
        <label><h3><b>Sage : {{ data.reput.empire_khalim.sage }}</b></h3></label>					
        <input type="range" name="data.reput.empire_khalim.sage" min="0" max="15" value="{{data.reput.empire_khalim.sage}}">
    </div>
</div>
<div class="col-md-12">
    <label><h2 style="text-align: center"><b> Réputation Nation Pirate :</b></h2></label>
    <div class="col-md-6">
        <label><h3><b> Criminel : {{ data.reput.nation_pirate.criminel }}</b></h3></label>					
        <input type="range" name="data.reput.nation_pirate.criminel" min="0" max="15" value="{{data.reput.nation_pirate.criminel}}">
    </div>
    <div class="col-md-6">
        <label><h3><b> Altruiste : {{ data.reput.nation_pirate.altruiste }}</b></h3></label>					
        <input type="range" name="data.reput.nation_pirate.altruiste" min="0" max="15" value="{{data.reput.nation_pirate.altruiste}}">
    </div>
    <div class="col-md-6">
        <label><h3><b> Tête brulée : {{ data.reput.nation_pirate.tete_brulee }}</b></h3></label>					
        <input type="range" name="data.reput.nation_pirate.tete_brulee" min="0" max="15" value="{{data.reput.nation_pirate.tete_brulee}}">
    </div>
    <div class="col-md-6">
        <label><h3><b>Sage : {{ data.reput.nation_pirate.sage }}</b></h3></label>					
        <input type="range" name="data.reput.nation_pirate.sage" min="0" max="15" value="{{data.reput.nation_pirate.sage}}">
    </div>
</div>