<form class="{{cssClass}} background" autocomplete="off">
	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary">
		{{#if actor.data.setup_complete}}
			<a class="item" data-tab="resume">Résumé</a>
			<a class="item" data-tab="skills">Technique</a>
		{{else}}
			<a class="item" data-tab="setup">Setup</a>
		{{/if}}
	</nav>
	    {{!-- Sheet Body --}}
    <section class="sheet-body">
		{{#if actor.data.setup_complete}}
		{{!-- Resume Tab --}}
		<div class="tab resume header-fields row" data-group="primary" data-tab="resume">
			<div class="col-md-7 ">
				<div class="col-md-3 ">
					<h1 class="charname col-md-12 ">Apparence</h1>
					<img style="width: auto;margin-top: 6px" class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="248" width="100%"/>
					<textarea style="resize: none; height: 55px;" name="data.description.value" placeholder="Description du personnage ...">{{data.description.value}}</textarea>
					<input type="checkbox" name="data.setup_complete" {{checked data.setup_complete}}/>
				</div>
				<div class="col-md-9">
					<h1 class="charname col-md-12 " center>Identité</h1>
					<div class="col-md-6" style="padding-left: 3px; padding-right: 4px">
						<table>	
							<tr>
								<th colspan="2">Personnalité</th> 													
							</tr>
							{{#each actor.data.identity as |k key|}}
								<tr>
									<td>{{k.label}} :</td>
									{{#if k.value}}
										<td><input name="data.identity.{{key}}.value" class="identity" value="{{k.value}}" type="text"  placeholder="{{k.label}}" disabled/></td>
									{{else}}
										<td><input name="data.identity.{{key}}.value" class="identity" value="" type="text" placeholder="{{k.label}}" disabled/></td>
									{{/if}}
								</tr>
							{{/each}}
							<tr>
								<td>Race :</td>
								<td >
									<input type="text" name="data.race.value" class="identity" value="{{data.race.value}}" disabled />
									<input type="text" name="data.race.sub_race.value" class="identity" value="{{data.race.sub_race.value}}" disabled />
								</td>
							</tr>
							<tr>
								<td>Classe :</td>
								<td >
									<input type="text" name="data.class.value" class="identity" value="{{data.class.value}}" disabled />
								</td>
							</tr>
							<tr>
								<td>Métier :</td>
								<td >
									<input type="text" name="data.job.value" class="identity" value="{{data.job.value}}" disabled />
								</td>
							</tr>
						</table>
					</div>
					<div class="col-md-6" style="padding-right: 0px">
						<label >Historique</label>
						<textarea style="resize: none; height: 395px" name="data.biography.value" placeholder="Biographie du personnage ...">{{data.biography.value}}</textarea>
					</div>
				</div>
				<div class="col-md-12">
					<label >Notes d'aventure</label>
					<textarea style="resize: none; height: 252px" name="data.note.value" placeholder="Notes d'aventure ...">{{data.note.value}}</textarea>
				</div>
			</div>
			<div class="col-md-5" style="padding-left: 2px; padding-right: 2px;overflow-y: scroll; height:740px;width: 750px" class="reput-slide">
				<h1 class="charname col-md-12 ">Réputation</h1>
				{{#each data.reput as |reput key|}}
					<div class="col-md-12" style="background-color: {{reput.color}}; border-radius: 10px; margin-top: 5px;">
						<label><h2 style="text-align: center"><b> {{reput.label}}  :</b></h2></label>
						<div class="col-md-12">
							<label style="display: inline-block;">
								<h3><b> Criminel : {{#ifInferior reput.range1 0}}{{ reput.range1 }}{{/ifInferior}}</b></h3>
							</label>
							<label style="display: inline-block;float: right;">
								<h3 style="text-align: right"><b> Altruiste : {{#ifSuperior reput.range1 0}}{{ reput.range1 }}{{/ifSuperior}}</b></h3>
							</label>				
							<input type="range" name="data.reput.{{key}}.range1" min="-15" max="15" value="{{reput.range1}}">
						</div>
						<div class="col-md-12">
							<label style="display: inline-block;">
								<h3><b> Tête brulée : {{#ifInferior reput.range2 0}}{{ reput.range2 }}{{/ifInferior}}</b></h3>
							</label>
							<label style="display: inline-block;float: right;">
								<h3 style="text-align: right"><b> Sage : {{#ifSuperior reput.range2 0}}{{ reput.range2 }}{{/ifSuperior}}</b></h3>
							</label>
							<input type="range" name="data.reput.{{key}}.range2" min="-15" max="15" value="{{reput.range2}}">
						</div>
					</div>
				{{/each}}
			</div>				
        </div>
		
		{{!-- Learned Skills Tab --}}
        <div class="tab skills" data-group="primary" data-tab="skills">
			<div class="col-md-5" >
				<div class="col-md-4" style="margin-top: 5px;">
					<table>	
						<tr>
							<th colspan="2">Caractéristiques</th>													
						</tr>
						{{#if data.race.value }}
							{{#each data.features as |feature key|}}
								{{#if feature.value }}					
								<tr>
									{{#if feature.istext}} 
										<td bgcolor="{{feature.color}}">{{feature.label}}</td>
										<td class="center"><input name="data.features.{{key}}.value" style="width:45px" type="text" value="{{feature.value}}" /></td>
									{{else ifEqual key "taille" }}
										<td bgcolor="{{feature.color}}"><a><label for="{{feature.value}}" class="cell__title ability-rollable rollable" data-value="{{feature.value}}" data-label="{{feature.label}}">{{feature.label}}</label></a></td>
										<td class="center"><input class="featureInput" name="data.features.{{key}}.value" max="18" style="width:45px" data-maxi="{{../data.race.tai.max}}" min="{{../data.race.tai.min}}" type="number" value="{{feature.value}}" /></td>
									{{else ifEqual key "agilité" }}
										<td bgcolor="{{feature.color}}"><a><label for="{{feature.value}}" class="cell__title ability-rollable rollable" data-value="{{feature.value}}" data-label="{{feature.label}}">{{feature.label}}</label></a></td>
										<td class="center"><input class="featureInput" name="data.features.{{key}}.value" max="18" style="width:45px" data-maxi="{{../data.race.agi.max}}" min="{{../data.race.agi.min}}" type="number" value="{{feature.value}}" /></td>
									{{else ifEqual key "apparence" }}
										<td bgcolor="{{feature.color}}"><a><label for="{{feature.value}}" class="cell__title ability-rollable rollable" data-value="{{feature.value}}">{{feature.label}}</label></a></td>
										<td class="center"><input class="featureInput" name="data.features.{{key}}.value" max="18" style="width:45px" data-maxi="{{../data.race.app.max}}" min="{{../data.race.app.min}}" type="number" value="{{feature.value}}" /></td>
									{{else ifEqual key "idee"}}
										<td bgcolor="{{feature.color}}"><a><label for="{{feature.value}}" class="cell__title ability-rollable rollable" data-value="{{math ../data.features.intelligence.value '*' 5}}" data-label="{{feature.label}}">{{feature.label}}</label></a></td>
										<td class="center"><input class="featureInput" name="data.features.{{key}}.value" style="width:45px" type="text" value="{{math ../data.features.intelligence.value '*' 5}}" disabled /></td>
									{{else ifEqual key "chance"}}
										<td bgcolor="{{feature.color}}"><a><label for="{{feature.value}}" class="cell__title ability-rollable rollable" data-value="{{calcFeature ../data.features.pouvoir.value ../data.features.apparence.value}}">{{feature.label}}</label></a></td>
										<td class="center"><input class="featureInput" name="data.features.{{key}}.value" style="width:45px" type="text" value="{{calcFeature ../data.features.pouvoir.value ../data.features.apparence.value}}" disabled /></td>
									{{else ifEqual key "survie"}}
										<td bgcolor="{{feature.color}}"><a><label for="{{feature.value}}" class="cell__title ability-rollable rollable" data-value="{{calcFeature ../data.features.pouvoir.value ../data.features.constitution.value}}" data-label="{{feature.label}}">{{feature.label}}</label></a></td>
										<td class="center"><input class="featureInput" name="data.features.{{key}}.value" style="width:45px" type="text" value="{{calcFeature ../data.features.pouvoir.value ../data.features.constitution.value}}" disabled /></td>
									{{else}}
										<td bgcolor="{{feature.color}}"><a><label for="{{feature.value}}" class="cell__title ability-rollable rollable" data-value="{{feature.value}}" data-label="{{feature.label}}">{{feature.label}}</label></a></td>
										<td class="center"><input class="featureInput" name="data.features.{{key}}.value" max="18" data-maxi="18" style="width:45px" min="6" type="number" value="{{feature.value}}" /></td>
									{{/if}}			
								</tr>	
								{{/if}}
							{{/each}}
						{{/if}}
					</table>
					<!--<button class="inline-roll roll money"><i class="far fa-money-bill-alt"></i>Argent & banque</button>-->
					<div style="border: 1px solid"><b>Passif n°1 : </b>{{data.job.special1}}</div>
					<div style="border: 1px solid"><b>Passif n°2 :</b>{{data.job.special2}}</div>
					{{log data.features.bonus_taille}}
					{{#ifSuperior data.features.taille.value "12"}}
						<div style="border: 1px solid"><b>Bonus TAIlle **: </b>{{data.features.bonus_taille.value}}</div>
						<div style="border: 1px solid"><b>Malus TAIlle *: </b>{{data.features.malus_taille.value}}</div>
					{{/ifSuperior}}
					{{#ifInferior data.features.taille.value "10"}}
						<div style="border: 1px solid"><b>Bonus TAIlle *: </b>{{data.features.bonus_taille.value}}</div>
						<div style="border: 1px solid"><b>Malus TAIlle **: </b>{{data.features.malus_taille.value}}</div>
					{{/ifInferior}}
					{{#ifEqual data.features.bonus_taille.value "0"}}
						<div style="border: 1px solid"><b>Pas de bonus ni de malus</b></div>
					{{/ifEqual}}
				</div>
				<div class="col-md-8" style="overflow-y: scroll; height:744px; margin-top: 10px;">
					<input type="text" id="searchSkill" onkeyup="filterSkill()" placeholder="Filtre des compétence">
					<table class="skill-table" id="skill">	
						<tr>
							<th class="top-header" style="border-right: 1px solid" colspan="6">Compétences</th>
							<th class="top-header" style="border-right: 0.5px solid" colspan="5">Multiplicateur</th>														
						</tr>
						<tr>
							<th style="border-right: 1px solid" class="bottom-header">lvl</th> 												
							<th style="border-right: 1px solid" class="bottom-header">libellé</th>
							<th style="border-right: 1px solid" class="bottom-header">Caractéristique</th>												
							<th style="border-right: 1px solid" class="bottom-header">%</th> 																							
							<th style="border-right: 1px solid" class="bottom-header">bonus</th> 																							
							<th style="border-right: 1px solid" class="bottom-header">total</th>
							<th style="border-right: 1px solid" class="bottom-header">1</th>
							<th style="border-right: 1px solid" class="bottom-header">2</th>
							<th style="border-right: 1px solid" class="bottom-header">3</th>
							<th style="border-right: 1px solid" class="bottom-header">4</th>
							<th style="border-right: 0.5px solid" class="bottom-header">5</th>																						
						</tr>
						
						{{#each actor.data.skills.for as |skill key|}}					
						<tr>
							<td class="center"><input type="checkbox" class="skill-checkbox" name="data.skills.for.{{key}}.checked" {{checked skill.checked}} /></td>
							<td>{{skill.label}}</td>
							<td class="center" bgcolor="{{../data.features.force.color}}">FORce</td>
							<td class="center">{{skill.base}}</td>
							<td class="center"><input style="width:45px" name="data.skills.for.{{key}}.add" type="number" value="{{skill.add}}" /></td>
							<td class="center" style="border-right: 1px solid">{{math skill.base "+" skill.add}}</td>
							<td class="center" ><a><label class="cell__title ability-rollable rollable" data-value="{{multiply skill.base skill.add 1 ../data.features.force.value }}" data-label="{{skill.label}}" data-multi="1">{{multiply skill.base skill.add 1 ../data.features.force.value }}</label></a></td>
							<td class="center"><a><label class="cell__title ability-rollable rollable" data-value="{{multiply skill.base skill.add 2 ../data.features.force.value }}" data-label="{{skill.label}}" data-multi="2">{{multiply skill.base skill.add 2 ../data.features.force.value }}</label></a></td>
							<td class="center"><a><label class="cell__title ability-rollable rollable" data-value="{{multiply skill.base skill.add 3 ../data.features.force.value }}" data-label="{{skill.label}}" data-multi="3">{{multiply skill.base skill.add 3 ../data.features.force.value }}</label></a></td>
							<td class="center"><a><label class="cell__title ability-rollable rollable" data-value="{{multiply skill.base skill.add 4 ../data.features.force.value }}" data-label="{{skill.label}}" data-multi="4">{{multiply skill.base skill.add 4 ../data.features.force.value }}</label></a></td>
							<td class="center"><a><label class="cell__title ability-rollable rollable" data-value="{{multiply skill.base skill.add 5 ../data.features.force.value }}" data-label="{{skill.label}}" data-multi="5">{{multiply skill.base skill.add 5 ../data.features.force.value }}</label></a></td>
						</tr>
						{{/each}}

						{{#each actor.data.skills.con as |skill key|}}					
						<tr>
							<td class="center"><input type="checkbox" class="skill-checkbox" name="data.skills.con.{{key}}.checked" {{checked skill.checked}} /></td>
							<td>{{skill.label}}</td>
							<td class="center" bgcolor="{{../data.features.constitution.color}}">CONstitution</td>
							<td class="center">{{skill.base}}</td>
							<td class="center"><input style="width:45px" name="data.skills.con.{{key}}.add" type="number" value="{{skill.add}}" /></td>
							<td class="center" style="border-right: 1px solid #000">{{math skill.base "+" skill.add}}</td>
							<td class="center"><a><label class="cell__title ability-rollable rollable" data-value="{{multiply skill.base skill.add 1 ../data.features.constitution.value }}" data-label="{{skill.label}}" data-multi="1">{{multiply skill.base skill.add 1 ../data.features.constitution.value }}</label></a></td>
							<td class="center"><a><label class="cell__title ability-rollable rollable" data-value="{{multiply skill.base skill.add 2 ../data.features.constitution.value }}" data-label="{{skill.label}}" data-multi="2">{{multiply skill.base skill.add 2 ../data.features.constitution.value }}</label></a></td>
							<td class="center"><a><label class="cell__title ability-rollable rollable" data-value="{{multiply skill.base skill.add 3 ../data.features.constitution.value }}" data-label="{{skill.label}}" data-multi="3">{{multiply skill.base skill.add 3 ../data.features.constitution.value }}</label></a></td>
							<td class="center"><a><label class="cell__title ability-rollable rollable" data-value="{{multiply skill.base skill.add 4 ../data.features.constitution.value }}" data-label="{{skill.label}}" data-multi="4">{{multiply skill.base skill.add 4 ../data.features.constitution.value }}</label></a></td>
							<td class="center"><a><label class="cell__title ability-rollable rollable" data-value="{{multiply skill.base skill.add 5 ../data.features.constitution.value }}" data-label="{{skill.label}}" data-multi="5">{{multiply skill.base skill.add 5 ../data.features.constitution.value }}</label></a></td>
						</tr>
						{{/each}}

						{{#each actor.data.skills.dex as |skill key|}}					
						<tr>
							<td class="center"><input type="checkbox" class="skill-checkbox" name="data.skills.dex.{{key}}.checked" {{checked skill.checked}} /></td>
							<td>{{skill.label}}</td>
							<td class="center" bgcolor="{{../data.features.dextérité.color}}">DEXtérité</td>
							<td class="center">{{skill.base}}</td>
							<td class="center"><input style="width:45px" name="data.skills.dex.{{key}}.add" type="number" value="{{skill.add}}" /></td>
							<td class="center" style="border-right: 1px solid #000">{{math skill.base "+" skill.add}}</td>
							<td class="center"><a><label class="cell__title ability-rollable rollable" data-value="{{multiply skill.base skill.add 1 ../data.features.dextérité.value }}" data-label="{{skill.label}}" data-multi="1">{{multiply skill.base skill.add 1 ../data.features.dextérité.value }}</label></a></td>
							<td class="center"><a><label class="cell__title ability-rollable rollable" data-value="{{multiply skill.base skill.add 2 ../data.features.dextérité.value }}" data-label="{{skill.label}}" data-multi="2">{{multiply skill.base skill.add 2 ../data.features.dextérité.value }}</label></a></td>
							<td class="center"><a><label class="cell__title ability-rollable rollable" data-value="{{multiply skill.base skill.add 3 ../data.features.dextérité.value }}" data-label="{{skill.label}}" data-multi="3">{{multiply skill.base skill.add 3 ../data.features.dextérité.value }}</label></a></td>
							<td class="center"><a><label class="cell__title ability-rollable rollable" data-value="{{multiply skill.base skill.add 4 ../data.features.dextérité.value }}" data-label="{{skill.label}}" data-multi="4">{{multiply skill.base skill.add 4 ../data.features.dextérité.value }}</label></a></td>
							<td class="center"><a><label class="cell__title ability-rollable rollable" data-value="{{multiply skill.base skill.add 5 ../data.features.dextérité.value }}" data-label="{{skill.label}}" data-multi="5">{{multiply skill.base skill.add 5 ../data.features.dextérité.value }}</label></a></td>
						</tr>
						{{/each}}

						{{#each actor.data.skills.agi as |skill key|}}					
						<tr>
							<td class="center"><input type="checkbox" class="skill-checkbox" name="data.skills.agi.{{key}}.checked" {{checked skill.checked}} /></td>
							<td>{{skill.label}}</td>
							<td class="center" bgcolor="{{../data.features.agilité.color}}">AGIlité</td>
							<td class="center">{{skill.base}}</td>
							<td class="center"><input style="width:45px" name="data.skills.agi.{{key}}.add" type="number" value="{{skill.add}}" /></td>
							<td class="center" style="border-right: 1px solid #000">{{math skill.base "+" skill.add}}</td>
							<td class="center"><a><label class="cell__title ability-rollable rollable" data-value="{{multiply skill.base skill.add 1 ../data.features.agilité.value }}" data-label="{{skill.label}}" data-multi="1">{{multiply skill.base skill.add 1 ../data.features.agilité.value }}</label></a></td>
							<td class="center"><a><label class="cell__title ability-rollable rollable" data-value="{{multiply skill.base skill.add 2 ../data.features.agilité.value }}" data-label="{{skill.label}}" data-multi="2">{{multiply skill.base skill.add 2 ../data.features.agilité.value }}</label></a></td>
							<td class="center"><a><label class="cell__title ability-rollable rollable" data-value="{{multiply skill.base skill.add 3 ../data.features.agilité.value }}" data-label="{{skill.label}}" data-multi="3">{{multiply skill.base skill.add 3 ../data.features.agilité.value }}</label></a></td>
							<td class="center"><a><label class="cell__title ability-rollable rollable" data-value="{{multiply skill.base skill.add 4 ../data.features.agilité.value }}" data-label="{{skill.label}}" data-multi="4">{{multiply skill.base skill.add 4 ../data.features.agilité.value }}</label></a></td>
							<td class="center"><a><label class="cell__title ability-rollable rollable" data-value="{{multiply skill.base skill.add 5 ../data.features.agilité.value }}" data-label="{{skill.label}}" data-multi="5">{{multiply skill.base skill.add 5 ../data.features.agilité.value }}</label></a></td>
						</tr>
						{{/each}}

						{{#each actor.data.skills.sen as |skill key|}}					
						<tr>
							<td class="center"><input type="checkbox" class="skill-checkbox" name="data.skills.sen.{{key}}.checked" {{checked skill.checked}} /></td>
							<td>{{skill.label}}</td>
							<td class="center" bgcolor="{{../data.features.sens.color}}">SENs</td>
							<td class="center">{{skill.base}}</td>
							<td class="center"><input style="width:45px" name="data.skills.sen.{{key}}.add" type="number" value="{{skill.add}}" /></td>
							<td class="center" style="border-right: 1px solid #000">{{math skill.base "+" skill.add}}</td>
							<td class="center"><a><label class="cell__title ability-rollable rollable" data-value="{{multiply skill.base skill.add 1 ../data.features.sens.value }}" data-label="{{skill.label}}" data-multi="1">{{multiply skill.base skill.add 1 ../data.features.sens.value }}</label></a></td>
							<td class="center"><a><label class="cell__title ability-rollable rollable" data-value="{{multiply skill.base skill.add 2 ../data.features.sens.value }}" data-label="{{skill.label}}" data-multi="2">{{multiply skill.base skill.add 2 ../data.features.sens.value }}</label></a></td>
							<td class="center"><a><label class="cell__title ability-rollable rollable" data-value="{{multiply skill.base skill.add 3 ../data.features.sens.value }}" data-label="{{skill.label}}" data-multi="3">{{multiply skill.base skill.add 3 ../data.features.sens.value }}</label></a></td>
							<td class="center"><a><label class="cell__title ability-rollable rollable" data-value="{{multiply skill.base skill.add 4 ../data.features.sens.value }}" data-label="{{skill.label}}" data-multi="4">{{multiply skill.base skill.add 4 ../data.features.sens.value }}</label></a></td>
							<td class="center"><a><label class="cell__title ability-rollable rollable" data-value="{{multiply skill.base skill.add 5 ../data.features.sens.value }}" data-label="{{skill.label}}" data-multi="5">{{multiply skill.base skill.add 5 ../data.features.sens.value }}</label></a></td>
						</tr>
						{{/each}}

						{{#each actor.data.skills.int as |skill key|}}					
						<tr>
							<td class="center"><input type="checkbox" class="skill-checkbox" name="data.skills.int.{{key}}.checked" {{checked skill.checked}} /></td>
							<td>{{skill.label}}</td>
							<td class="center" bgcolor="{{../data.features.intelligence.color}}">INtelligence</td>
							<td class="center">{{skill.base}}</td>
							<td class="center"><input style="width:45px" name="data.skills.int.{{key}}.add" type="number" value="{{skill.add}}" /></td>
							<td class="center" style="border-right: 1px solid #000">{{math skill.base "+" skill.add}}</td>
							<td class="center"><a><label class="cell__title ability-rollable rollable" data-value="{{multiply skill.base skill.add 1 ../data.features.intelligence.value }}" data-label="{{skill.label}}" data-multi="1">{{multiply skill.base skill.add 1 ../data.features.intelligence.value }}</label></a></td>
							<td class="center"><a><label class="cell__title ability-rollable rollable" data-value="{{multiply skill.base skill.add 2 ../data.features.intelligence.value }}" data-label="{{skill.label}}" data-multi="2">{{multiply skill.base skill.add 2 ../data.features.intelligence.value }}</label></a></td>
							<td class="center"><a><label class="cell__title ability-rollable rollable" data-value="{{multiply skill.base skill.add 3 ../data.features.intelligence.value }}" data-label="{{skill.label}}" data-multi="3">{{multiply skill.base skill.add 3 ../data.features.intelligence.value }}</label></a></td>
							<td class="center"><a><label class="cell__title ability-rollable rollable" data-value="{{multiply skill.base skill.add 4 ../data.features.intelligence.value }}" data-label="{{skill.label}}" data-multi="4">{{multiply skill.base skill.add 4 ../data.features.intelligence.value }}</label></a></td>
							<td class="center"><a><label class="cell__title ability-rollable rollable" data-value="{{multiply skill.base skill.add 5 ../data.features.intelligence.value }}" data-label="{{skill.label}}" data-multi="5">{{multiply skill.base skill.add 5 ../data.features.intelligence.value }}</label></a></td>
						</tr>
						{{/each}}

						{{#each actor.data.skills.app as |skill key|}}					
						<tr>
							<td class="center"><input type="checkbox" class="skill-checkbox" name="data.skills.app.{{key}}.checked" {{checked skill.checked}} /></td>
							<td>{{skill.label}}</td>
							<td class="center" bgcolor="{{../data.features.apparence.color}}">APParence</td>
							<td class="center">{{skill.base}}</td>
							<td class="center"><input style="width:45px" name="data.skills.app.{{key}}.add" type="number" value="{{skill.add}}" /></td>
							<td class="center" style="border-right: 1px solid #000">{{math skill.base "+" skill.add}}</td>
							<td class="center"><a><label class="cell__title ability-rollable rollable" data-value="{{multiply skill.base skill.add 1 ../data.features.apparence.value }}" data-label="{{skill.label}}" data-multi="1">{{multiply skill.base skill.add 1 ../data.features.apparence.value }}</label></a></td>
							<td class="center"><a><label class="cell__title ability-rollable rollable" data-value="{{multiply skill.base skill.add 2 ../data.features.apparence.value }}" data-label="{{skill.label}}" data-multi="2">{{multiply skill.base skill.add 2 ../data.features.apparence.value }}</label></a></td>
							<td class="center"><a><label class="cell__title ability-rollable rollable" data-value="{{multiply skill.base skill.add 3 ../data.features.apparence.value }}" data-label="{{skill.label}}" data-multi="3">{{multiply skill.base skill.add 3 ../data.features.apparence.value }}</label></a></td>
							<td class="center"><a><label class="cell__title ability-rollable rollable" data-value="{{multiply skill.base skill.add 4 ../data.features.apparence.value }}" data-label="{{skill.label}}" data-multi="4">{{multiply skill.base skill.add 4 ../data.features.apparence.value }}</label></a></td>
							<td class="center"><a><label class="cell__title ability-rollable rollable" data-value="{{multiply skill.base skill.add 5 ../data.features.apparence.value }}" data-label="{{skill.label}}" data-multi="5">{{multiply skill.base skill.add 5 ../data.features.apparence.value }}</label></a></td>
						</tr>
						{{/each}}

						{{#each actor.data.skills.pou as |skill key|}}					
						<tr>
							<td class="center"><input type="checkbox" class="skill-checkbox" name="data.skills.pou.{{key}}.checked" {{checked skill.checked}} /></td>
							<td>{{skill.label}}</td>
							<td class="center" bgcolor="{{../data.features.pouvoir.color}}">POUvoir</td>
							<td class="center">{{skill.base}}</td>
							<td class="center"><input style="width:45px" name="data.skills.pou.{{key}}.add" type="number" value="{{skill.add}}" /></td>
							<td class="center" style="border-right: 1px solid #000">{{math skill.base "+" skill.add}}</td>
							<td class="center"><a><label class="cell__title ability-rollable rollable" data-value="{{multiply skill.base skill.add 1 ../data.features.pouvoir.value }}" data-label="{{skill.label}}" data-multi="1">{{multiply skill.base skill.add 1 ../data.features.pouvoir.value }}</label></a></td>
							<td class="center"><a><label class="cell__title ability-rollable rollable" data-value="{{multiply skill.base skill.add 2 ../data.features.pouvoir.value }}" data-label="{{skill.label}}" data-multi="2">{{multiply skill.base skill.add 2 ../data.features.pouvoir.value }}</label></a></td>
							<td class="center"><a><label class="cell__title ability-rollable rollable" data-value="{{multiply skill.base skill.add 3 ../data.features.pouvoir.value }}" data-label="{{skill.label}}" data-multi="3">{{multiply skill.base skill.add 3 ../data.features.pouvoir.value }}</label></a></td>
							<td class="center"><a><label class="cell__title ability-rollable rollable" data-value="{{multiply skill.base skill.add 4 ../data.features.pouvoir.value }}" data-label="{{skill.label}}" data-multi="4">{{multiply skill.base skill.add 4 ../data.features.pouvoir.value }}</label></a></td>
							<td class="center"><a><label class="cell__title ability-rollable rollable" data-value="{{multiply skill.base skill.add 5 ../data.features.pouvoir.value }}" data-label="{{skill.label}}" data-multi="5">{{multiply skill.base skill.add 5 ../data.features.pouvoir.value }}</label></a></td>
						</tr>
						{{/each}}

						<tr>
							<th colspan="6" style="border-right: 1px solid; border-top: 1px solid; border-bottom: 1px solid">Compténces innées</th>
							<th colspan="5" style="border-top: 1px solid; border-bottom: 1px solid">Multiplicateur</th> 													
						</tr>
						{{#each actor.data.race.don as |skill key|}}		
							<tr>
								<td class="center"><input type="checkbox" class="skill-checkbox" name="data.skills.don.{{key}}.checked" {{checked skill.checked}} /></td>
								<td>{{skill.label}}</td>
								<td class="center" bgcolor="{{getFeatureColor skill.carac}}">{{getFeatureLabel skill.carac}}</td>
								<td class="center">{{skill.base}}</td>
								<td class="center"><input style="width:45px" name="data.skills.don.{{key}}.add" type="number" value="{{skill.add}}" /></td>
								<td class="center" style="border-right: 1px solid #000">{{math skill.base "+" skill.add}}</td>
								<td class="center"><a><label class="cell__title ability-rollable rollable" data-value="{{multiplydon skill.base skill.add 1 skill.carac}}" data-label="{{skill.label}}" data-multi="1">{{multiplydon skill.base skill.add 1 skill.carac}}</label></a></td>
								<td class="center"><a><label class="cell__title ability-rollable rollable" data-value="{{multiplydon skill.base skill.add 2 skill.carac}}" data-label="{{skill.label}}" data-multi="2">{{multiplydon skill.base skill.add 2 skill.carac}}</label></a></td>
								<td class="center"><a><label class="cell__title ability-rollable rollable" data-value="{{multiplydon skill.base skill.add 3 skill.carac}}" data-label="{{skill.label}}" data-multi="3">{{multiplydon skill.base skill.add 3 skill.carac}}</label></a></td>
								<td class="center"><a><label class="cell__title ability-rollable rollable" data-value="{{multiplydon skill.base skill.add 4 skill.carac}}" data-label="{{skill.label}}" data-multi="4">{{multiplydon skill.base skill.add 4 skill.carac}}</label></a></td>
								<td class="center"><a><label class="cell__title ability-rollable rollable" data-value="{{multiplydon skill.base skill.add 5 skill.carac}}" data-label="{{skill.label}}" data-multi="5">{{multiplydon skill.base skill.add 5 skill.carac}}</label></a></td>
							</tr>
						{{/each}}
					</table>
					{{#if data.specialskill.label}}
					<table class="skill-table">	
						<tr>
							<th>Spéciale</th> 													
						</tr>					
						<tr>				
							<td>{{data.specialskill.label}}</td>
						</tr>					
					</table>
					{{/if}}
				</div>
			</div>
			<div class="col-md-3" style="margin-top: 10px;">
				<div class="col-md-12">
					<h2 style="text-align: center"><b> PV </b></h2>
					<div class="col-md-4 col-md-offset-4">
						<div class="counter-container">					
							<span style="white-space:nowrap"> <h3><b> Tête :</b></h3></span>
							<div class="wishChkBox" style="--size: 13px; --icon: '\f004'; --color: #742721;">
								{{#each actor.data.health.head_lost_hp as |val k|}}
									{{#ifInferior @index ../data.features.max_hp.head}}
										<input type="checkbox" id="thp{{k}}" name="data.health.head_lost_hp.{{k}}" {{checked val}}/>
										<label for="thp{{k}}"> </label>		
									{{/ifInferior}}			
								{{/each}}
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="col-md-4" style="padding-right: 0px; padding-left: 0px;">
						<div class="counter-container">					
							<span style="white-space:nowrap"> <h3><b> Bras gauche :</b></h3></span>
							<div class="wishChkBox" style="--size: 13px; --icon: '\f004'; --color: #742721;">
								{{#each actor.data.health.leftarm_lost_hp as |val k|}}
									{{#ifInferior @index ../data.features.max_hp.leftarm}}
										<input type="checkbox" id="bghp{{k}}" name="data.health.leftarm_lost_hp.{{k}}" {{checked val}}/>
										<label for="bghp{{k}}"> </label>		
									{{/ifInferior}}			
								{{/each}}
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="counter-container">					
							<span style="white-space:nowrap"> <h3><b> Buste :</b></h3></span>
							<div class="wishChkBox" style="--size: 13px; --icon: '\f004'; --color: #742721;">
								{{#each actor.data.health.torso_lost_hp as |val k|}}
									{{#ifInferior @index ../data.features.max_hp.torso}}
										<input type="checkbox" id="bhp{{k}}" name="data.health.torso_lost_hp.{{k}}" {{checked val}}/>
										<label for="bhp{{k}}"> </label>		
									{{/ifInferior}}			
								{{/each}}
							</div>
						</div>
					</div>
					<div class="col-md-4" style="padding-left: 0px; padding-right: 0px;">
						<div class="counter-container">					
							<span style="white-space:nowrap"> <h3><b> Bras droit :</b></h3></span>
							<div class="wishChkBox" style="--size: 13px; --icon: '\f004'; --color: #742721;">
								{{#each actor.data.health.rightarm_lost_hp as |val k|}}
									{{#ifInferior @index ../data.features.max_hp.rightarm}}
										<input type="checkbox" id="bdhp{{k}}" name="data.health.rightarm_lost_hp.{{k}}" {{checked val}}/>
										<label for="bdhp{{k}}"> </label>		
									{{/ifInferior}}			
								{{/each}}
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="col-md-4" style="padding-right: 0px; padding-left: 0px;">
						<div class="counter-container">					
							<span style="white-space:nowrap"> <h3><b> Jambe gauche :</b></h3></span>
							<div class="wishChkBox" style="--size: 13px; --icon: '\f004'; --color: #742721;">
								{{#each actor.data.health.leftleg_lost_hp as |val k|}}
									{{#ifInferior @index ../data.features.max_hp.leftleg}}
										<input type="checkbox" id="jghp{{k}}" name="data.health.leftleg_lost_hp.{{k}}" {{checked val}}/>
										<label for="jghp{{k}}"> </label>		
									{{/ifInferior}}			
								{{/each}}
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="counter-container">					
							<span style="white-space:nowrap"> <h3><b> Pieds :</b></h3></span>
							<div class="wishChkBox" style="--size: 13px; --icon: '\f004'; --color: #742721;">
								{{#each actor.data.health.feet_lost_hp as |val k|}}
									{{#ifInferior @index ../data.features.max_hp.feet}}
										<input type="checkbox" id="hp{{k}}" name="data.health.feet_lost_hp.{{k}}" {{checked val}}/>
										<label for="hp{{k}}"> </label>		
									{{/ifInferior}}			
								{{/each}}
							</div>
						</div>
					</div>
					<div class="col-md-4" style="padding-left: 0px; padding-right: 0px;">
						<div class="counter-container">					
							<span style="white-space:nowrap"> <h3><b> Jambe droite :</b></h3></span>
							<div class="wishChkBox" style="--size: 13px; --icon: '\f004'; --color: #742721;">
								{{#each actor.data.health.rightleg_lost_hp as |val k|}}
									{{#ifInferior @index ../data.features.max_hp.rightleg}}
										<input type="checkbox" id="jrhp{{k}}" name="data.health.rightleg_lost_hp.{{k}}" {{checked val}}/>
										<label for="jrhp{{k}}"> </label>		
									{{/ifInferior}}			
								{{/each}}
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-12">
					<h2 style="text-align: center"><b> PE </b></h2>
					<div class="col-md-8" style="border: 1px solid">						
						<div class="col-md-6">
							<label><h3 style="text-align: center"><b> Nourriture </b></h3></label>
							<div class="wishChkBox" style="--size: 15px; --icon: '\f111'; --color: #2aa863;">
								{{#each actor.data.energy.food_lost_ep as |val k|}}
									{{#ifInferior @index ../data.features.max_pe.food}}
										<input type="checkbox" id="epf{{k}}" name="data.energy.food_lost_ep.{{k}}" {{checked val}}/>
										<label for="epf{{k}}"> </label>		
									{{/ifInferior}}			
								{{/each}}
							</div>
						</div>
						<div class="col-md-6">
							<label><h3 style="text-align: center"><b> Sommeil </b></h3></label>				
							<div class="wishChkBox" style="--size: 15px; --icon: '\f186'; --color: #d1b500;">
								{{#each actor.data.energy.sleep_lost_ep as |val k|}}
									{{#ifInferior @index ../data.features.max_pe.sleep}}
										<input type="checkbox" id="eps{{k}}" name="data.energy.sleep_lost_ep.{{k}}" {{checked val}}/>
										<label for="eps{{k}}"> </label>		
									{{/ifInferior}}			
								{{/each}}
							</div>
						</div>
					</div>
					<div class="col-md-4" style="padding-right: 0px">
						<div class="col-md-12" style="border: 1px solid">	
							<label><h3 style="text-align: center"><b> Pouvoir </b></h3></label>
							<div class="wishChkBox" style="--size: 15px; --icon: '\f005'; --color:#064694;">
								{{#each actor.data.energy.power_lost_ep as |val k|}}
									{{#ifInferior @index ../data.features.max_pe.power}}
										<input type="checkbox" id="epp{{k}}" name="data.energy.power_lost_ep.{{k}}" {{checked val}}/>
										<label for="epp{{k}}"> </label>		
									{{/ifInferior}}			
								{{/each}}
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<h2 style="text-align: center"><b> Argent </b></h2>
					<table>	
						<tr>
							<th colspan="7">Bourse perso</th> 													
						</tr>
						<tr>
							{{#each data.money as |k key|}}
								<th style="text-align: center;border-right: 1px solid; border-top: 1px solid">{{ k.label }}</th>
							{{/each}}   																											
						</tr>		
						<tr>
							{{#each data.money as |k key|}}
								<td style="text-align: center;border-right: 1px solid "><input type="number" name="data.money.{{key}}.purse" value="{{ k.purse }}"/></td>
							{{/each}}                                          
						</tr>
					</table>
					<table>	
						<tr>
							<th colspan="7">Banque</th> 													
						</tr>
						<tr>
							{{#each data.money as |k key|}}
								<th style="text-align: center;border-right: 1px solid; border-top: 1px solid">{{ k.label }}</th>
							{{/each}}   																												
						</tr>		
						<tr>
							{{#each data.money as |k key|}}
								<td style="text-align: center;border-right: 1px solid "><input type="number" name="data.money.{{key}}.bank" value="{{ k.bank }}"/></td>
							{{/each}}                                              
						</tr>
					</table>
				</div>
				<div class="col-md-12">
					<h2 style="text-align: center"><b> Munitions et Carburant </b></h2>
					<table class="skill-table">
						<tr>
							<th colspan="8">Munitions</th> 													
						</tr>
						<tr>
							<th style="border-right: 1px solid; border-top: 1px solid">Flèches</th>
							<th style="border-right: 1px solid; border-top: 1px solid">Carreaux</th> 
							<th style="border-right: 1px solid; border-top: 1px solid">Flèchettes</th> 
							<th style="border-right: 1px solid; border-top: 1px solid">Pierres chargées</th> 
							<th style="border-right: 1px solid; border-top: 1px solid">Poudre</th> 
							<th style="border-right: 1px solid; border-top: 1px solid">Plombs</th> 											 												
							<th style="border-right: 1px solid; border-top: 1px solid">Balles</th> 
							<th style="border-top: 1px solid">Spéciales</th>																																																																																								
						</tr>					
						<tr>
							{{#each data.inventory.ammunition as |name key|}}
							<td style="border-right: 1px solid; border-top: 1px solid" class="center"><input name="data.inventory.ammunition.{{key}}" style="width:45px" type="number" value="{{name}}" /></td>
							{{/each}}
						</tr>	
					</table>
				</div>
			</div>
			<div class="col-md-4" style="margin-top: 5px;">
				<table class="skill-table">	
					<tr>
						<th colspan="4">Armures</th> 													
					</tr>
					<tr>
						<th style="border-right: 1px solid; border-top: 1px solid">Armures</th>
						<th style="border-right: 1px solid; border-top: 1px solid">Emplacement</th>												 												
						<th style="border-right: 1px solid; border-top: 1px solid">Dég bloqués</th> 
						<th style="border-right: 1px solid; border-top: 1px solid">Malus</th>																																												
						<th style="border-top: 1px solid">Bonus</th>																																												
					</tr>
					{{#each actor.data.stuff.armure as |slot key|}}						
						<tr>
							<td style="border-right: 1px solid">
								<select  class="armor_{{key}} identity" style="font-family: Eagle Lake" name="data.stuff.armure.{{key}}.value"  data-type="String">
									<option value="">-----------</option>
									{{#select slot.value}}					
										{{#each ../actor.data.armures as |armure key|}}					
										<option value="{{key}}">{{armure.label}}</option> 
										{{/each}} 
									{{/select}}					
								</select>
							</td>
							<td class="center" style="border-right: 1px solid">{{slot.place}}</td>
							<td class="center" style="border-right: 1px solid">{{slot.deg_bloque}}</td>
							<td class="center" style="border-right: 1px solid">{{slot.malus}}</td>
							<td class="center" >{{slot.bonus}}</td>
						</tr>
					{{/each}}
				</table>
				<table class="skill-table">	
					<tr>
						<th colspan="4">Armes</th> 													
					</tr>
					<tr>
						<th style="border-right: 1px solid;border-top: 1px solid">Armes</th> 												
						<th style="border-right: 1px solid;border-top: 1px solid">Portée</th> 												
						<th style="border-right: 1px solid;border-top: 1px solid">Dégats</th> 																																																																																										
						<th style="border-top: 1px solid">malus</th> 																																													
					</tr>
					{{#each actor.data.stuff.arme as |slot key|}}					
					<tr>
						<td style="border-right: 1px solid">
							<select  class="weapon{{key}} identity" style="font-family: Eagle Lake" name="data.stuff.arme.{{key}}.value"  data-type="String">
								<option value="">-----------</option>
								{{#select slot.value}}					
									{{#each ../actor.data.armes as |arme key|}}					
									<option value="{{key}}">{{arme.label}}</option> 
									{{/each}} 
								{{/select}}				
							</select>
						</td>
						<td class="center" style="border-right: 1px solid">{{slot.range}}</td>
						<td class="center" style="border-right: 1px solid"><a class="inline-roll roll" data-mode="roll" data-flavor="Arme : {{slot.value}}" data-formula="{{slot.damage}}" title="{{slot.damage}}"><i class="fas fa-dice-d20"></i> {{slot.damage}}</a></td>
						<td class="center" >{{slot.malus}}</td>
					</tr>
					{{/each}}
				</table>

				<table class="skill-table">	
					<tr>
						<th colspan="3">Inventaire</th> 													
					</tr>
					<tr>
						<th style="border-right: 1px solid; border-top: 1px solid">Divers</th> 												 												
						<th style="border-right: 1px solid; border-top: 1px solid">Objets de quêtes</th> 
						<th style="border-top: 1px solid">Nourriture</th>																																																																																								
					</tr>						
					<tr>
						<td class="center" ><textarea style="resize: none; height: 280px" name="data.inventory.various.value" placeholder="Objets divers ...">{{data.inventory.various.value}}</textarea></td>
						
						<td class="center" ><textarea style="resize: none; height: 280px" name="data.inventory.quest.value" placeholder="Objets de quête ...">{{data.inventory.quest.value}}</textarea></td>
						
						<td class="center" ><textarea style="resize: none; height: 280px" name="data.inventory.food.value" placeholder="Nourriture diverse ...">{{data.inventory.food.value}}</textarea></td>
					</tr>
				</table>
			</div>
		</div>
		{{else}}
			{{!-- Setup Tab --}}
			<div class="tab setup" data-group="primary" data-tab="setup">
				<input type="checkbox" name="data.setup_complete" {{checked data.setup_complete}}/>	
				<h1 class="charname col-md-12 " center>Identité</h1>
				<div class="col-sm-3" style="padding-left: 3px; padding-right: 4px">
					<table>	
						<tr>
							<th colspan="2">Personnalité</th> 													
						</tr>
						{{#each actor.data.identity as |k key|}}
							<tr>
								<td>{{k.label}} :</td>
								{{#if k.value}}
									<td><input name="data.identity.{{key}}.value" class="identity" value="{{k.value}}" type="text"  placeholder="{{k.label}}"/></td>
								{{else}}
									<td><input name="data.identity.{{key}}.value" class="identity" value="" type="text" placeholder="{{k.label}}"/></td>
								{{/if}}
							</tr>
						{{/each}}
							<tr>
								<td>Race :</td>
								<td >
									<select  class="selectrace identity" style="font-family: Eagle Lake" name="data.race.value"  data-type="String">
										<option  value="">-----------</option>
										{{#select actor.data.race.value}}					
											{{#each actor.data.races as |race key|}}					
											<option  value="{{key}}">{{race.label}}</option> 
											{{/each}} 
										{{/select}}					
									</select>
									<input type="text" name="data.race.sub_race.value" class="identity" value="{{data.race.sub_race.value}}" placeholder="Sous espèce" />
								</td>
							</tr>
							<tr>
								<td>Classe :</td>
								<td>
									<select  class="selectclass identity" style="font-family: Eagle Lake" name="data.class.value"  data-type="String">
										<option value="">-----------</option>
										{{#select actor.data.class.value}}					
											{{#each actor.data.jobs as |job key|}}					
											<option value="{{key}}">{{key}}</option> 
											{{/each}} 
										{{/select}}					
									</select>
								</td>
							</tr>
							<tr>
								<td>Métier :</td>
								<td>
									<select  class="selectjob identity" style="font-family: Eagle Lake" name="data.job.value"  data-type="String">
										<option value="">-----------</option>
										{{#select actor.data.job.value}}					
											{{#each actor.data.jobs as |class key|}}					
												{{#ifEqual ../actor.data.class.value key}}
													{{#each class as |job key|}}
													<option value="{{key}}">{{key}}</option> 
													{{/each}}
												{{/ifEqual}}
											{{/each}} 
										{{/select}}					
									</select>
								</td>
							</tr>
					</table>
				</div>
				<div class="col-md-3" style="margin-top: 5px;">
					<input class="remaining" name="data.featurePoint" type="text" value="{{data.featurePoint}}" />
					<table>	
						<tr>
							<th colspan="2">Caractéristiques</th>													
						</tr>
						{{#if data.race.value }}
							{{#each data.features as |feature key|}}
								{{#if feature.value }}					
								<tr>
									{{#if feature.istext}} 
										<td class="center"><input name="data.features.{{key}}.value" style="width:45px" type="text" value="{{feature.value}}" /></td>
										<td bgcolor="{{feature.color}}"><a><label for="{{feature.value}}" class="cell__title ability-rollable rollable" data-value="{{feature.value}}" data-label="{{feature.label}}">{{feature.label}}</label></a></td>
									{{else ifEqual key "taille" }}
										<td bgcolor="{{feature.color}}"><a><label for="{{feature.value}}" class="cell__title ability-rollable rollable" data-value="{{feature.value}}" data-label="{{feature.label}}">{{feature.label}}</label></a></td>
										<td class="center"><input class="featureInput" name="data.features.{{key}}.value" max="18" style="width:45px" data-maxi="{{../data.race.tai.max}}" min="{{../data.race.tai.min}}" type="number" value="{{feature.value}}" /></td>
									{{else ifEqual key "agilité" }}
										<td bgcolor="{{feature.color}}"><a><label for="{{feature.value}}" class="cell__title ability-rollable rollable" data-value="{{feature.value}}" data-label="{{feature.label}}">{{feature.label}}</label></a></td>
										<td class="center"><input class="featureInput" name="data.features.{{key}}.value" max="18" style="width:45px" data-maxi="{{../data.race.agi.max}}" min="{{../data.race.agi.min}}" type="number" value="{{feature.value}}" /></td>
									{{else ifEqual key "apparence" }}
										<td bgcolor="{{feature.color}}"><a><label for="{{feature.value}}" class="cell__title ability-rollable rollable" data-value="{{feature.value}}">{{feature.label}}</label></a></td>
										<td class="center"><input class="featureInput" name="data.features.{{key}}.value" max="18" style="width:45px" data-maxi="{{../data.race.app.max}}" min="{{../data.race.app.min}}" type="number" value="{{feature.value}}" /></td>
									{{else ifEqual key "idee"}}
										<td bgcolor="{{feature.color}}"><a><label for="{{math ../data.features.intelligence.value '*' 5}}" class="cell__title ability-rollable rollable" data-value="{{math ../data.features.intelligence.value '*' 5}}" data-label="{{feature.label}}">{{feature.label}}</label></a></td>
										<td class="center"><input class="featureInput" name="data.features.{{key}}.value" style="width:45px" type="text" value="{{math ../data.features.intelligence.value '*' 5}}" disabled /></td>
									{{else ifEqual key "chance"}}
										<td bgcolor="{{feature.color}}"><a><label for="{{calcFeature ../data.features.pouvoir.value ../data.features.apparence.value}}" class="cell__title ability-rollable rollable" value="{{calcFeature ../data.features.pouvoir.value ../data.features.apparence.value}}" data-value="{{feature.value}}">{{feature.label}}</label></a></td>
										<td class="center"><input class="featureInput" name="data.features.{{key}}.value" style="width:45px" type="text" value="{{calcFeature ../data.features.pouvoir.value ../data.features.apparence.value}}" disabled /></td>
									{{else ifEqual key "survie"}}
										<td bgcolor="{{feature.color}}"><a><label for="{{feature.value}}" class="cell__title ability-rollable rollable" data-value="{{calcFeature ../data.features.pouvoir.value ../data.features.constitution.value}}" data-label="{{feature.label}}">{{feature.label}}</label></a></td>
										<td class="center"><input class="featureInput" name="data.features.{{key}}.value" style="width:45px" type="text" value="{{calcFeature ../data.features.pouvoir.value ../data.features.constitution.value}}" disabled /></td>
									{{else}}
										<td bgcolor="{{feature.color}}"><a><label for="{{feature.value}}" class="cell__title ability-rollable rollable" data-value="{{feature.value}}" data-label="{{feature.label}}">{{feature.label}}</label></a></td>
										<td class="center"><input class="featureInput" name="data.features.{{key}}.value" max="18" data-maxi="18" style="width:45px" min="6" type="number" value="{{feature.value}}" /></td>
									{{/if}}			
								</tr>	
								{{/if}}
							{{/each}}
						{{/if}}
					</table>
				</div>
				<div class="col-md-2" style="padding-left: 3px; padding-right: 4px">
					<div class="col-md-12" style="border: 1px solid; padding-left: 2px; padding-right: 2px;overflow-y: scroll; height:240px;">
						<label><b>Bonus de compétence lié a la classe (en choisir 10)</b></label>
						<ul>
							{{#each actor.data.jobs as |class className|}}					
								{{#each class as |job jobName|}}
									{{#ifEqual ../../actor.data.class.value className}}
										{{#ifEqual ../../actor.data.job.value jobName}}
											{{#each job as |skill skillName|}}
												<li><input class="class-checkbox" type="checkbox" value="{{skillName}}" > {{skillName}}</li>
											{{/each}}	
										{{/ifEqual}}
									{{/ifEqual}}
								{{/each}}
							{{/each}}
						</ul>
					</div>	
					<input type="hidden" name="data.job.selected_skills" value="{{data.job.selected_skills}}" class="selectSkill" id="selectSkill"/>
					<div class="col-md-12" style="margin-top:20px ;border: 1px solid; padding-left: 2px; padding-right: 2px;overflow-y: scroll; height:140px;">
						<label>Bonus de compétence lié a la classe (en choisir 4)</label>
						<ul>
							{{#each actor.data.skills as |feature featureName|}}	
								{{#ifDifferent featureName "special"}}				
									{{#each feature as |skill skillName|}}
										<li><input class="base-checkbox" type="checkbox" value="{{skillName}}"> {{skillName}}</li>
									{{/each}}
								{{/ifDifferent}}
							{{/each}} 				
						</ul>
					</div>
					<div class="col-md-12" style="margin-top:20px ;border: 1px solid; padding-left: 2px; padding-right: 2px;overflow-y: scroll; height:140px;">
						<label>Compétence passive (En choisir 2)</label>
						<ul>
							{{#each actor.data.special as |class className|}}	
								{{#ifEqual className ../actor.data.class.value}}			
									{{#each class as |skill skillName|}}
										<li><input class="special-checkbox" type="checkbox" value="{{skill.label}}" id="baseCheckbox"> {{skill.label}}</li>
									{{/each}}
								{{/ifEqual}}
							{{/each}} 				
						</ul>
						<input type="text" name="data.job.special1" value="{{data.job.special1}}" class="selectSpecial" id="selectSpecial1"/>
						<input type="text" name="data.job.special2" value="{{data.job.special2}}" class="selectSpecial" id="selectSpecial2"/>
					</div>
				</div>
				<div class="col-md-4" style="padding-left: 3px; padding-right: 4px">
					<table>	
						<tr>
							<th colspan="3">Compétences (25 points a distribuer)</th> 													
						</tr>
						<tr>
							<th>Nom</th>
							<th>base</th>													
							<th>bonus</th>
						</tr>
							{{#each actor.data.job.bonus_skills as |selectSkill selectSkillName|}}
								{{#each ../actor.data.skills as |feature featureName|}}
									{{#each feature as |skill skillName|}}	
										{{#ifEqual skillName selectSkill}}		
											<tr>
												<td class="center">{{selectSkill}}</td>
												<td class="center">{{skill.base}}</td>
												<td class="center"><input name="data.skills.{{featureName}}.{{skillName}}.add" style="width:45px" type="number" value="{{skill.add}}" /></td>
											</tr>
										{{/ifEqual}}
									{{/each}}
								{{/each}}
							{{/each}}
					</table>
					<table>	
						<tr>
							<th colspan="3">Dons (10 points a distribuer)</th> 													
						</tr>
						<tr>
							<th>Nom</th>
							<th>base</th>													
							<th>bonus</th>
						</tr>
							{{#each actor.data.race.don as |don donName|}}		
								{{#each ../actor.data.skills.don as |skill skillName|}}
									{{#ifEqual skill.label don.label}}
												
										<tr>
											<td class="center">{{don.label}}</td>
											<td class="center">{{skill.base}}</td>
											<td class="center"><input name="data.skills.don.{{skillName}}.add" style="width:45px" type="number" value="{{skill.add}}" /></td>
										</tr>
									{{/ifEqual}}
								{{/each}}
							{{/each}}
					</table>
				</div>
			</div>
			<script>
				// fonctions pour gérér les skills séléectionnés
				var array = []
				var checkboxes = document.querySelectorAll('input[type=checkbox]:checked')

				for (var i = 0; i < checkboxes.length; i++) {
					array.push(checkboxes[i].value)
				}

				$('input[type=checkbox]').on('change', function (e) {
					if ($('input.class-checkbox:checked').length > 10) {
						$(this).prop('checked', false);
						alert("Maximum 10");
					}
					if ($('input.base-checkbox:checked').length > 4) {
						$(this).prop('checked', false);
						alert("Maximum 4");
					}
					if ($('input.special-checkbox:checked').length > 2) {
						$(this).prop('checked', false);
						alert("Maximum 2");
					}
					if ($('input.class-checkbox:checked').length == 10 && $('input.base-checkbox:checked').length == 4) {
						var array = []
						// parsing every checked checkbox
						var classCheboxes = document.querySelectorAll('input.class-checkbox:checked')
						for (var i = 0; i < classCheboxes.length; i++) {
							array.push(classCheboxes[i].value)
						}
						var baseCheboxes = document.querySelectorAll('input.base-checkbox:checked')
						for (var i = 0; i < baseCheboxes.length; i++) {
							array.push(baseCheboxes[i].value)
						}

						//set value
						document.getElementById('selectSkill').value = array.toString();
						// trigger change event
						// Create a new 'change' event
						var event = new Event('change');
						// Dispatch it.
						document.getElementById('selectSkill').dispatchEvent(event);
						alert("Setup skill OK");
					}
					if ($('input.special-checkbox:checked').length == 2) {
						var array = []
						// parsing every checked checkbox
						var specialCheboxes = document.querySelectorAll('input.special-checkbox:checked')
						for (var i = 0; i < specialCheboxes.length; i++) {
							array.push(specialCheboxes[i].value)
						}
						//set value
						document.getElementById('selectSpecial1').value = array[0];
						document.getElementById('selectSpecial2').value = array[1];
						alert("Setup passif OK");
					}
				});
				// fonctions (bancale) pour handle les caracteristiques
				var 
					total = 65,
					inputs = $('input.featureInput');
				inputs
					.change(function() {
						//Make sure that current value is in range
						if($(this).val() > parseInt($(this).data('maxi'))) {
							$(this).val($(this).data('maxi'));
						} else if ($(this).val() < parseInt($(this).attr('min'))) {
							$(this).val($(this).attr('min'));
						}
						
						//Get currently available total
						var current = available();
						console.log(total - current)
						$(".remaining").val(total - current)
						//Now update max on each input
						$('input.featureInput').each(function(indx) {
							$(this).attr('max',  parseInt($(this).val()) + total - current);
						});
					});

					function available() {
						/**
						 * on considère que la somme des niveaux min constitue le seuil, 
						 * tous les points de compétences que l'on peut dépenser sont donc en plus
						 * ex. 12 carac avec un min à 6 = 72 points déja répartis, on ajoute
						 * a ça le résultat des 9*2d6+4 et on a le total des points dépensé
						*/	
						var sum =0;	
						var baseSum =0;	
						inputs.each(function() {
							baseSum += parseInt($(this).attr('min'));
						});
						inputs.each(function() {
							sum += parseInt($(this).val());
						});
						return sum - baseSum;
					}
			</script>
		{{/if}}
	</section>
</form>
<script>
	function filterSkill() {
	  var input, filter, table, tr, td, i, txtValue;
	  input = document.getElementById("searchSkill");
	  filter = input.value.toUpperCase();
	  table = document.getElementById("skill");
	  tr = table.getElementsByTagName("tr");
	  for (i = 0; i < tr.length; i++) {
		td = tr[i].getElementsByTagName("td")[1];
		if (td) {
		  txtValue = td.textContent || td.innerText;
		  if (txtValue.toUpperCase().indexOf(filter) > -1) {
			tr[i].style.display = "";
		  } else {
			tr[i].style.display = "none";
		  }
		}       
	  }
	}
	function showReput(element) {
		document.getElementByClassName("reput").style.display = 'none';
		document.getElementById(element.value).style.display = 'block';
	}
</script>

