@import url('https://fonts.googleapis.com/css?family=Eagle+Lake&display=swap');
@import "bootstrap.css";

.myrhias {
  /* Sheet Tabs */
  /* Items List */
  /* Attributes */
  font-size: 0.9em !important;
  font-family: Eagle Lake !important;
}

.myrhias .window-content {
  height: 100%;
  padding: 5px;
  overflow-y: hidden;
  background-image: url("back.jpg");
}

.myrhias .sheet-header {
  height: 100px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.myrhias .sheet-header .profile-img {
  flex: 0 0 100px;
  height: 300px;
  margin-left: 15px;
}

.myrhias .sheet-header .header-fields {
  flex: 1;
  height: 100px;
}

.myrhias .sheet-header h1.charname {
  height: 50px;
  margin: 5px 0;
  border-bottom: 0;
  text-align:center
}

.myrhias .sheet-body td input {
  border: 1px solid #000;
  padding:0px; 
  margin:0px;
}
.myrhias .sheet-body .bottom-header {
  text-align:center;
  position: -webkit-sticky;
  position: sticky;
  top: 22px;
  z-index: 5;
  background: #fff;
  border-bottom: 1px solid;
  border-top: 0.5px solid;

}
.myrhias .sheet-body .top-header {
  text-align:center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  border-collapse: separate;
  z-index: 5;
  background: #fff;
  border-bottom: 0.5px solid;
  border-top: 1px solid;
}
.myrhias table {
  width: 100%;
  border-collapse: separate; /* Don't collapse */
  border-spacing: 0;
  border-right: 1px solid;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.myrhias table th:first-child,
.myrhias table td:first-child {
  /* Apply a left border on the first <td> or <th> in a row */
  border-left: 1px solid;
}

.myrhias table thead th {
  position: sticky;
  top: 0;
  background-color: #edecec;
}
.myrhias .sheet-body tr {
  border: 1px solid #000;
}

.myrhias .skill-checkbox {
  transform: scale(1);
  flex: 0;
  height: 15px;
  margin: 0px;
  vertical-align: middle;
}
.myrhias .sheet-body table tr:nth-child(even) {background-color: rgba(0, 0, 0, 0.123);}

.myrhias .sheet-body .skill-table {
  font-size: 0.8em
}

.myrhias .sheet-body select.identity,
.myrhias .sheet-body input.identity {
  width: 100%;
  height: 100%;
  float: left;
  padding-left: 0px;
  margin-top: 2px;
  margin-bottom: 2px;
  background: rgba(0, 0, 0, 0.2);
  vertical-align: middle;
}

.myrhias .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0px;
  margin-top: 10px;
  background: rgba(0, 0, 0, 0.2);
}

.myrhias .counter-container {
	width: 100%;
	border: 1px solid #000;
	border-radius: 2px;
	margin-bottom: 6px;
	
}

.myrhias .vitals-container {
	width: 100%;
	border: 1px solid #000;
	border-radius: 2px;
	margin-bottom: 6px;
	
}

.myrhias .vitals-container input {
	width: 80%;
	-webkit-appearance: none;
}

.myrhias .vitals-container .flexrow {
	width: 70%;
	-webkit-appearance: none;
	margin: auto;
	margin-bottom: 4px;
}

.myrhias .vitals-container .flexrow span {
	text-align: center;
}

.myrhias .vitals-container label {
  vertical-align:middle;
  display:inline-block;
  margin-bottom:1em;
}

.myrhias .resource {
  text-align: center;
  margin-left: 15px;
}

.myrhias .resource input {
  width: 35%; 
  height: 80%;
  margin: 4px;
  background: rgba(0, 0, 0, 0.2);
}
.myrhias .tabs {
  height: 40px;
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
}
.myrhias .tabs .item {
  line-height: 40px;
  font-weight: bold;
}
.myrhias .center {
  text-align: center;
}
.myrhias .rotate {
  /* FF3.5+ */
  -moz-transform: rotate(-90.0deg);
  /* Opera 10.5 */
  -o-transform: rotate(-90.0deg);
  /* Saf3.1+, Chrome */
  -webkit-transform: rotate(-90.0deg);
  /* IE6,IE7 */
  filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0.083);
  /* IE8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)";
  /* Standard */
  transform: rotate(-90.0deg);
}

.myrhias .tabs .item.active {
  text-decoration: underline;
  text-shadow: none;
}
.myrhias .sheet-body {
  overflow: hidden;
  height: 100% !important;
}
.myrhias .sheet-body .tab {
  overflow-y: auto;
}
.myrhias .editor,
.myrhias .editor-content {
  height: 800px;
}
.myrhias .items-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
  overflow-y: auto;
}
.myrhias .items-list .item {
  height: 30px;
  line-height: 24px;
  padding: 3px 0;
  border-bottom: 1px solid #BBB;
}
.myrhias .items-list .item img {
  flex: 0 0 24px;
  margin-right: 5px;
}
.myrhias .items-list .item-name {
  margin: 0;
}
.myrhias .items-list .item-controls {
  flex: 0 0 36px;
}
.myrhias .attributes-header {
  padding: 5px;
  margin: 5px 0;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #AAA;
  border-radius: 2px;
  text-align: center;
  font-weight: bold;
}
.myrhias .attributes-header .attribute-label {
  flex: 1.5;
}
.myrhias .attributes-header .attribute-control {
  flex: 0 0 20px;
}
.myrhias .attributes-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.myrhias .attributes-list li > * {
  margin: 0 3px;
  height: 28px;
  line-height: 24px;
  background: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #AAA;
}
.myrhias .attributes-list a.attribute-control {
  flex: 0 0 20px;
  text-align: center;
  line-height: 28px;
  border: none;
}
.myrhias.sheet.actor {
  min-width: 660px;
  min-height: 520px;
}
.myrhias.sheet.item {
  min-width: 460px;
  min-height: 400px;
}

/* add arrow to increase input type number*/
.myrhias input[type="number"]::-webkit-inner-spin-button,
.myrhias input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: auto !important; 
}
.myrhias input[type="number"] {
  -moz-appearance: none !important;
}
/* disable mouse behavior on input type range */
.myrhias input[type=range]{
  pointer-events: none;
}
.myrhias input[type=range]::-webkit-slider-thumb{/*Webkit Browsers like Chome and Safari*/
  pointer-events: auto;
}
.myrhias input[type=range]::-moz-range-thumb{/*Firefox*/
  pointer-events: auto;
}
.myrhias input[type=range]::-ms-thumb{/*Internet Explorer*/
  pointer-events: auto;
}

.wishChkBox {
  margin-left: 2px;
}
.wishChkBox  input[type='checkbox'] {
  display:none;
}
.wishChkBox   input[type='checkbox']+ label:before {
  font-family: 'Font Awesome 5 Free';
  content: var(--icon);
  font-size:var(--size);
  cursor:pointer;
  color: var(--color);
}
.wishChkBox  input[type='checkbox']:checked + label:before {
  font-weight:600;
} 